<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/_movies.html">

<div layout:fragment="content">

    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{'/'}" th:text="#{label.main}"></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="#{label.genres}"> <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li th:each="genre : ${genres}"><a th:href="@{/genre/{name} (name=${genre.name})}" th:text="${genre.name}"></a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{'/addPost'}" th:text="#{label.addpost}"></a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{'/adminPage'}" th:text="#{label.adminpage}"></a></li>
                            <li sec:authorize="hasAnyRole('ROLE_MODERATOR')"><a th:href="@{'/moderatorPage'}" th:text="#{label.moderatorpage}"></a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->

    <div class="container my-4">
        <h1 th:text="#{label.editpost}"></h1>
        <form th:action="@{/editPost}" method="post">
            <input type="hidden" name="id" th:value="${post.id}">
            <div class="form-group">
                <label for="inputTitle" th:text="#{label.title}"></label>
                <input type="text" name="title" class="form-control" id="inputTitle" th:placeholder="#{label.placeholder.Title}" maxlength="255" required th:value="${post.title}">
            </div>

            <div class="form-group">
                <label for="inputPoster" th:text="#{label.posterUrl}"></label>
                <input type="text" name="posterUrl" class="form-control" id="inputPoster" th:placeholder="#{label.placeholder.posterUrl}" maxlength="16384" required th:value="${post.posterURL}">
            </div>

            <div class="form-group">
                <label for="inputShort" th:text="#{label.shortcontent}"></label>
                <input type="text" name="shortContent" class="form-control" id="inputShort" th:placeholder="#{label.placeholder.shortcontent}" maxlength="512" required th:value="${post.shortContent}">
            </div>

            <div class="form-group">
                <label for="inputContent" th:text="#{label.content}"></label>
                <textarea name="content" class="form-control" rows="3" id="inputContent" th:placeholder="#{label.placeholder.content}" maxlength="2048" required th:text="${post.content}"></textarea>
                <script>
                    CKEDITOR.replace('inputContent');
                </script>
            </div>

            <div class="form-group">
                <label for="genres" th:text="#{label.genres}"></label>
                <select class="form-control"  name="genres" id="genres" multiple size="12">
                    <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}" th:attrappend="selected=${post.genres.contains(genre)} ? 'selected' : ''"></option>
                </select>
            </div>

            <button id="button" type="submit" class="btn btn-primary" th:text="#{label.editpost}"></button>


        </form>
    </div>

</div>

</html>