<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/_movies.html">

<div layout:fragment = "content">

    <!-- nav -->
    <div class="movies_nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav>
                        <ul class="nav navbar-nav">
                            <li class="active"><a th:href="@{'/'}" th:text="#{label.main}"></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="#{label.genres}"> <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-3">
                                    <li>
                                        <div class="col-sm-4">
                                            <ul class="multi-column-dropdown">
                                                <li th:each="genre : ${genres}"><a th:href="@{/genre/{name} (name=${genre.name})}" th:text="${genre.name}"></a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{'/addPost'}" th:text="#{label.addpost}"></a></li>
                            <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a th:href="@{'/adminPage'}" th:text="#{label.adminpage}"></a></li>
                            <li sec:authorize="hasAnyRole('ROLE_MODERATOR')"><a th:href="@{'/moderatorPage'}" th:text="#{label.moderatorpage}"></a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    </div>
    <!-- //nav -->

    <div class="container mt-4 mb-4">
        <h4 class="latest-text w3_latest_text" th:text="#{label.posts}"></h4>
        <div class="general">
            <div class="container">
                <div th:each="post : ${posts}" class="col-md-2 w3l-movie-gride-agile">
                    <a th:href="@{/post/{id} (id = ${post.getId()})}" class="hvr-shutter-out-horizontal">
                        <img th:src="${post.posterURL}" th:title="${post.title}" class="img-responsive" style="max-height: 182px !important; max-width: 278px !important;" alt=" " />
                        <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                    </a>
                    <div class="mid-1 agileits_w3layouts_mid_1_home">
                        <div class="w3l-movie-text">
                            <h6><a th:href="@{/post/{id} (id = ${post.getId()})}" th:text="${post.title}"></a></h6>
                        </div>
                        <p th:text="${post.getPostDate().year}"></p>

                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>


    </div>
</div>

</html>