<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layouts/_movies.html">

<div layout:fragment="content">

    <div class="container my-4">
        <h1 th:text="#{label.login}"></h1>
        <form th:action="@{/auth}" method="post">
            <div class="form-group">
                <label for="email" th:text="#{label.email}"></label>
                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" id="email" th:placeholder="#{label.placeholder.email}" name="email" autofocus required>
            </div>

            <div class="form-group">
                <label for="password" th:text="#{label.password}"></label>
                <input type="password" class="form-control" id="password" th:placeholder="#{label.placeholder.password}" name="password" minlength="6" maxlength="60" required>
            </div>

            <div class="form-group">
                <a th:href="@{/signup}" th:text="#{label.registration}"></a>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{label.signin}"></button>
        </form>

    </div>

</div>



</html>